<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.justin.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/ThemeOverlay.AppCompat.Dark">
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".RideTheBusActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".KingsCupActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".GetCrunkActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".FingersActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".RideTheBusStart"
            android:label=""
            android:parentActivityName=".RideTheBusActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.RideTheBusActivity" />
        </activity>
        <activity
            android:name=".GetCrunkStart"
            android:label=""
            android:parentActivityName=".GetCrunkActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.GetCrunkActivity" />
        </activity>
        <activity
            android:name=".FingersStart"
            android:label=""
            android:parentActivityName=".FingersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.FingersActivity" />
        </activity>
        <activity
            android:name=".KingsCupStart"
            android:label=""
            android:parentActivityName=".KingsCupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.KingsCupActivity" />
        </activity>
        <activity
            android:name=".RideTheBusStep2"
            android:label="@string/title_activity_ride_the_bus_step2"
            android:parentActivityName=".RideTheBusStart"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.RideTheBusStart" />
        </activity>
        <activity
            android:name=".RideTheBusStep3"
            android:label="@string/title_activity_ride_the_bus_step3"
            android:parentActivityName=".RideTheBusStep2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.RideTheBusStep2" />
        </activity>
        <activity
            android:name=".RideTheBusStep4"
            android:label="@string/title_activity_ride_the_bus_step4"
            android:parentActivityName=".RideTheBusStep3"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.RideTheBusStep3" />
        </activity>
        <activity
            android:name=".RideTheBusStep5"
            android:label="@string/title_activity_ride_the_bus_step5"
            android:parentActivityName=".RideTheBusStep4"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.RideTheBusStep4" />
        </activity>
        <activity
            android:name=".RideTheBusStep6"
            android:label="@string/title_activity_ride_the_bus_step6"
            android:parentActivityName=".RideTheBusStep5"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.RideTheBusStep5" />
        </activity>
        <activity
            android:name=".RideTheBusStep7"
            android:label="@string/title_activity_ride_the_bus_step7"
            android:parentActivityName=".RideTheBusStep6"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.RideTheBusStep6" />
        </activity>
        <activity
            android:name=".FingersStep2"
            android:label=""
            android:parentActivityName=".FingersStart"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.FingersStart" />
        </activity>
        <activity
            android:name=".FingersStep3"
            android:label=""
            android:parentActivityName=".FingersStep2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.FingersStep2" />
        </activity>
        <activity
            android:name=".FingersStep4"
            android:label=""
            android:parentActivityName=".FingersStep3"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.FingersStep3" />
        </activity>
        <activity
            android:name=".FingersStep5"
            android:label=""
            android:parentActivityName=".FingersStep4"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.FingersStep4" />
        </activity>
        <activity
            android:name=".FingerStep6"
            android:label=""
            android:parentActivityName=".FingersStep5"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.FingersStep5" />
        </activity>
    </application>

</manifest>
