<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.justin.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/ThemeOverlay.AppCompat.Dark">
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".RideTheBusActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".KingsCupActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".GetCrunkActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".FingersActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".KingsCupMaterials"
            android:label="@string/title_activity_kings_cup_materials"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.justin.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".KingsCupHowToPlay"
            android:label="@string/title_activity_kings_cup_how_to_play" />
        <activity
            android:name=".RideTheBusInstructions"
            android:label="@string/title_activity_ride_the_bus_instructions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetCrunkInstructions"
            android:label="@string/title_activity_get_crunk_instructions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FingersInstructions"
            android:label="@string/title_activity_fingers_instructions"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
